<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="StorageAccountKey" value="DefaultEndpointsProtocol=https;AccountName=doverstorage;AccountKey=ziaVstofrMHDEme+voINbNeJQAUJvcHIdAX5deUXfULPbGwWJwqLIazqxNP45DLzVPcL+qs5VCv7eq35SAzcZw==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>
