<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="StorageAccount" value="DefaultEndpointsProtocol=https;AccountName=doverstorageaccout;AccountKey=Bg/spaUnZLoRStZjIgAdZ3HmFjrLg0N+Q/S8E762aRH/fxbxgV5KoSrNZEL+VMJ8hSZyh8vBNxKEgcQYoECDNg==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>
